/* This rule will apply only to the rendered Markdown on the page */

article {
    /* display: block; */
    line-height: 130%;
    font-size: 11.5pt;
}

article p {
    /* display: block; */
    line-height: 130%;
    font-size: 11.5pt;
}

.research_h1 {
    display: inline-block;
    line-height: 16px;
}

details {
    text-indent: -2%;
    font-size: 11.5pt;
    margin-bottom: 15px;
}

details summary>* {
    font-size: 11.5pt;
    position: relative;
    display: block;
    line-height: 10px;
    text-indent: -2%;
    /* text-decoration: underline #4f4f4f7f dotted; */
    text-underline-offset: 4px;
}


.news-badge {
    display: inline-block;
    width: 40px; /* Set the width to the desired length */
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides overflow text */
    text-overflow: ellipsis; /* Adds ellipsis (...) for overflow text */
  }

.news-time-badge {
    display: inline-flex;
    width: 68px; /* Set the width to the desired length */
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides overflow text */
    text-overflow: ellipsis; /* Adds ellipsis (...) for overflow text */
    align-items: center;
    justify-content: center;
    text-align: center;
  }

.split-badge {
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    background: linear-gradient(to right, red 50%, gray 50%);
  }
/* article s-compact {
    text-align: left;
    line-height: 2px;
    position: relative;
} */