/* This rule will apply only to the rendered Markdown on the page */

article {
    /* display: block; */
    line-height: 130%;
    font-size: 11.5pt;
}

article p {
    /* display: block; */
    line-height: 130%;
    font-size: 11.5pt;
}

.research_h1 {
    display: inline-block;
    line-height: 16px;
}

details {
    text-indent: -2%;
    font-size: 11.5pt;
    margin-bottom: 15px;
}

details summary>* {
    font-size: 11.5pt;
    position: relative;
    display: block;
    line-height: 10px;
    text-indent: -2%;
    /* text-decoration: underline #4f4f4f7f dotted; */
    text-underline-offset: 4px;
}


/* article s-compact {
    text-align: left;
    line-height: 2px;
    position: relative;
} */