---
import LayoutDefault from '~/layouts/LayoutDefault.astro'

import {Content as About_Content_Main} from '~/pages/about_main.md'
import {Content as About_Content} from '~/pages/about.md'
import {Content as About_Content_Recent_Research} from '~/pages/about_recent_research.md'
import {Content as About_Content_Contact} from '~/pages/about_contact.md'
import {Content as About_Content_News} from '~/pages/about_news.md'

const { translate: t } = Astro.locals

// const apiUrl_time = "https://timeapi.io/api/Time/current/zone?timeZone=Australia/Adelaide"

---

<LayoutDefault>
  <main un-lg="py-20 min-w-xl animate-fadein-down" class="p-7.5"> 
  
    <div class="flex items-center grid grid-cols-4 gap-4">
    <!-- <div class="flex grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3"> -->

      <div>
        <img class="rounded" style="width:120px" src="/zheyuan_david_avatar_4_5.png" alt="profile picture"> 
      </div>

      <div class="col-start-2 col-span-3">
        <article class="heti">

          <div style="margin-bottom:0.2em;"><span class="i-mdi:email-arrow-left">Icon</span>zheyuan.david.liu [at] outlook.com</div>
          <div style="margin-bottom:0.2em;"><span class="i-mdi:contact-phone">Icon</span><a href="https://researchers.adelaide.edu.au/profile/zheyuan.liu">Institute profile</a></div>
          <div style="margin-bottom:0.2em;"><span class="i-mdi:file-download">Icon</span><a href="https://onedrive.live.com/download?resid=3178E74E5EC9EA02%21932379&authkey=!AEJaBY63IIaglmQ&em=2">curriculum vitae</a></div>
      
        </article>
      </div>

    </div>
  <section contain-layout un-flex="~ col gap-7.5">
    <article class="heti">
      </br>
      </br>
      <About_Content_Main />
    </article>
  </section>  
  
  <section contain-layout un-flex="~ col gap-7.5">
    <article class="heti">
      </br>
      <About_Content />
    </article>
  </section>  

  <section contain-layout un-flex="~ col gap-7.5">
    <article class="heti">
      </br>
      <About_Content_Recent_Research />
    </article>
  </section>  

  <section contain-layout un-flex="~ col gap-7.5">
    <article class="heti">
      </br>
      <About_Content_News />
    </article>
  </section>  

  </main>
</br>
  <hr style="height:2px;border-width:0;color:rgba(188, 188, 188, 0.589);background-color:rgba(194, 194, 194, 0.306)">

  </LayoutDefault>
