---
import LayoutDefault from '~/layouts/LayoutDefault.astro'

import {Content as About_Content_Main} from '~/pages/about_main.md'
import {Content as About_Content} from '~/pages/about.md'

const { translate: t } = Astro.locals

---

<LayoutDefault>
  <main un-lg="py-20 min-w-xl animate-fadein-down" class="p-7.5"> 

  <img class="rounded"
      style="height:150px; width:120px"
      src="/zheyuan_david_avatar_4_5.png" alt="profile picture"> 
  
  <section contain-layout un-flex="~ col gap-7.5">
      
    <article class="heti">
    </br>
    <About_Content_Main />
    </article>
  </section>  
  
  <section contain-layout un-flex="~ col gap-7.5">
      
    <article class="heti">
    </br>
    <About_Content />
    </article>
    
    
  </section>  
  </main>

  </LayoutDefault>

