---
import LayoutDefault from "~/layouts/LayoutDefault.astro"
import {Content as About_Content_Research} from '~/pages/about_research_details.mdx'
---


<LayoutDefault>
  <section contain-layout un-flex="~ col gap-7.5">
    <article class="heti">
      </br>
      <About_Content_Research />
    </article>
  </section>  

</LayoutDefault>
