---
import { THEME_CONFIG } from '~/theme.config'
interface Props {
  post: Post
}

const { post } = Astro.props
const { translate: t } = Astro.locals

---

<article class="heti">
  <header>

    <div class="mt-2 text-3.5">
      <!-- <span>{t('posted_at')}</span>
      <time>{formatDate(post.data.pubDate)}</time> -->

    </div>
  </header>
  <slot />
</article>
