---
import '~/styles/index.css'
import '~/styles/sao-op-credits.css'
// https://sivan.github.io/heti
import '~/styles/heti.min.css'
import Header from '~/components/Header.astro'
import Footer from '~/components/Footer.astro'
import { SEO } from 'astro-seo'
import { getImage } from 'astro:assets'
import { Tooltips } from 'astro-tooltips';

interface Props {
  title?: string
  desc?: string
  banner?: ImageMetadata
  disableIntroAnimations?: boolean
  showProfileImage?: boolean
}

const props = Astro.props
const themeConfig = Astro.locals.config
const { header } = Astro.locals.config

const title = props.title ?? themeConfig.title
const desc = props.desc ?? themeConfig.desc
const canonical = themeConfig.website
const disableIntroAnimations = props.disableIntroAnimations ?? false
const showProfileImage = props.showProfileImage ?? false

const image =
  props.banner &&
  (await getImage({
    src: props.banner,
    format: "jpeg"
  }))
const optimizedImage = new URL(image?.src??"/placeholder.png", Astro.url).toString()
---

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      charset="utf-8"
      title={title}
      description={desc}
      extend={{
        link: [{ rel: 'icon', href: 'https://avatars.githubusercontent.com/u/30120549?v=4', type: 'image/svg+xml' }],
        meta: [
          { name: "twitter:image:src", content: optimizedImage },
          { name: "twitter:image:alt", content: desc },
          { name: "twitter:creator", content: header.twitter },
          { name: "twitter:site", content: header.twitter },
          { name: "twitter:card", content: "summary_large_image" },
          { name: "twitter:title", content: title },
          { name: "twitter:description", content: desc },
        ],
      }}
      openGraph={{
        basic: {
          title: title,
          type: "article",
          image: optimizedImage,
          url: canonical,
        }
      }}
    />
    <Tooltips  />
  </head>
  <body>
    <div class:list={[
      'container contain-layout m-a',
      'lg:flex lg:flex-row-reverse lg:justify-between lg:gap-4 lg:px-8 lg:mx-auto lg:max-w-6xl',
      !disableIntroAnimations && 'max-lg:animate-fadein-down',
    ]}>
      <div class:list={[
        'p-7.5',
        'lg:sticky lg:top-0 lg:h-screen lg:py-20 lg:flex lg:flex-col lg:justify-between lg:items-start lg:gap-4',
        !disableIntroAnimations && 'lg:animate-fadein-left',
      ]}>
        <Header showProfileImage={showProfileImage} />
        <Footer class="max-lg:hidden" />
      </div>
      <main class:list={[
        'py-7.5 px-4 md:p-7.5',
        'lg:py-20 lg:min-w-xl',
        !disableIntroAnimations && 'lg:animate-fadein-down',
      ]}>
        <slot />
      </main>
      <Footer class="lg:hidden p-7.5" />
    </div>
    <script is:inline src="/sao-op-credits.js"></script>
    <script is:inline src="/sao-text-animations.js"></script>
    <script src="~/styles/collapse.js"></script>
  </body>
</html>
